*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/NDK

/app/src/main/jniLibs/arm64-v8a/libvplan.so
/app/src/main/jniLibs/armeabi-v7a/libvplan.so
/app/src/main/jniLibs/x86/libvplan.so
/app/src/main/jniLibs/x86_64/libvplan.so

/target/
**/*.rs.bk

.travis/keystore.jks

dist
app/release
